ul.col-sm-3.col-md-2.full-height.nav.hidden-xs.project-nav
  li
    a.goth.nav-item(data-nav-index='1', data-category='edu', href='#')
      //
        <span class="logo patron-logo"></span>
      | Curriculum Design
  li
    a.goth.nav-item(data-nav-index='2', data-category='ops', href='#')
      //
        <span class="logo southwest-logo"></span>
      | Operations
  li
    a.goth.nav-item(data-nav-index='3', data-category='hcd', href='#')
      //
        <span class="logo hobbylobby-logo"></span>
      | Human-Centered Product Design & Development
  li
    a.goth.nav-item(data-nav-index='4', data-category='dev', href='#')
      //
        <span class="logo blackberry-logo"></span>
      | Web Development & Design
  li
    a.goth.nav-item(data-nav-index='5', data-category='mfg', href='#')
      //
        <span class="logo sxsw-logo"></span>
      | Lean Manufacturing
  li
    a.goth.nav-item(data-nav-index='5', data-category='mgt', href='#')
      | Product Management
  li
    a.goth.nav-item(data-nav-index='5', data-category='soc', href='#')
      | Social Impact
  li
    a.goth.nav-item(data-nav-index='5', data-category='pub', href='#')
      | Speaking & Publicity
