ul.hidden-xs.col-sm-5.col-md-6.full-height.project-desc(aria-hidden='true')
  li.desc-item.outofview(data-desc-index="1")
    div
      button.close &#10005;
      include ../project-descriptions/backpack.jade
  li.desc-item.outofview(data-desc-index="4")
    div
      button.close &#10005;
      include ../project-descriptions/continuousimprovement.jade
  li.desc-item.outofview(data-desc-index="9")
    div
      button.close &#10005;    
      include ../project-descriptions/jcd.jade
  li.desc-item.outofview(data-desc-index="11")
    div
      button.close &#10005;    
      include ../project-descriptions/kindlies.jade
  li.desc-item.outofview(data-desc-index="3")
    div
      button.close &#10005;    
      include ../project-descriptions/ladymafia.jade
  li.desc-item.outofview(data-desc-index="7")
    div
      button.close &#10005;    
      include ../project-descriptions/pepsi.jade
  li.desc-item.outofview(data-desc-index="6")
    div
      button.close &#10005;    
      include ../project-descriptions/refresh.jade
  li.desc-item.outofview(data-desc-index="8")
    div
      button.close &#10005;    
      include ../project-descriptions/rotary.jade
  li.desc-item.outofview(data-desc-index="10")
    div
      button.close &#10005;    
      include ../project-descriptions/veronicabruce.jade
  li.desc-item.outofview(data-desc-index="12")
    div
      button.close &#10005;    
      include ../project-descriptions/waze.jade
  li.desc-item.outofview(data-desc-index="2")
    div
      button.close &#10005;    
      include ../project-descriptions/welding.jade
  li.desc-item.outofview(data-desc-index="5")
    div
      button.close &#10005;    
      include ../project-descriptions/ypn.jade


