ul.col-xs-12.col-sm-5.col-md-6.full-height.project-desc(aria-hidden='true')
  include ../project-descriptions/backpack.jade
  include ../project-descriptions/continuousimprovement.jade
  include ../project-descriptions/jcd.jade
  include ../project-descriptions/kindlies.jade
  include ../project-descriptions/ladymafia.jade
  include ../project-descriptions/pepsi.jade
  include ../project-descriptions/refresh.jade
  include ../project-descriptions/rotary.jade
  include ../project-descriptions/veronicabruce.jade
  include ../project-descriptions/waze.jade
  include ../project-descriptions/welding.jade
  include ../project-descriptions/ypn.jade


