include ../mixins.jade

- var projects = [{ "name": "backpack holder", "categoryClass": "hcd", "fileName": "backpack"}, {"name": "welding", "categoryClass": "hcd mgt", "fileName": "welding"}, {"name": "Lady Mafia", "categoryClass": "dev soc", "fileName": "ladymafia"}, {"name": "continuous improvement", "categoryClass":"mfg ops", "fileName": "continuousimprovement"}, {"name": "ypn", "categoryClass": "soc mgt", "fileName": "ypn"}, {"name": "refresh project", "categoryClass": "hcd", "fileName": "refresh"}, {"name": "pepsi innovation", "categoryClass": "hcd", "fileName": "pepsi"}, {"name": "rotary", "categoryClass": "mgt ops mfg", "fileName": "rotary"}, {"name": "JCD", "categoryClass": "edu hcd soc", "fileName": "jcd"}, {"name": "freelance project", "categoryClass": "dev", "fileName": "veronicabruce"}, {"name": "kindlies", "categoryClass": "dev soc", "fileName": "kindlies"}, {"name": "waze for bikes", "categoryClass": "dev", "fileName": "waze"}]
- var index = 1

.col-xs-12.col-sm-9.col-md-10.full-height.project-list
  ul.row.full-height
    - each project in projects
      +project-card(index, project.name, project.categoryClass)
      - index = index + 1
