include ../mixins.jade
include ../variables.jade

div.splash.animated
  .container
    h2 Hi, I'm 
      span.animated Gaby.
    h3 I can't stay away from a good problem.
    p here is some info about me blah blah blah
