include ../mixins.jade
include ../variables.jade

div.splash
  nav.navbar.margin-bottom-none
    .container
      h3.navbar-brand.hidden: a Gaby
      ul.nav.navbar-nav.navbar-right
        +global-nav-item("Who am I?", "#whoami")
        +global-nav-item("Work", "#work")
        +global-nav-item("Publicity & Speakng", "#publicity")
        +global-nav-item("What's in my brain", "#projects")
  .container.animated
    h2 Hi, I'm 
      span.animated Gaby.
    h3 I can't stay away from a good problem.

    ul.hidden-xs.col-sm-3.col-md-2.full-height.nav.landing
      for category in categories
        +project-nav-item(category.name, category.short)
    a.show-all-projects see all projects
