html, body {
	height: 100%;
	overflow: hidden;
}

.sidebar-nav {
	position: relative;
	
	.nav-container {
		background: #333;
		position: absolute;
		z-index: 1;

		.nav-content {
			padding: 20px;
			width: 60%;

			li {
				display: block;
				margin-bottom: 10px;
			}

			li h2 {
				color: #FFF;
				font-family: 'Gotham-Medium';
				font-size: 16px;
				letter-spacing: 2px; 
			}

			li a {
				color: #FFF;
			}
		}
	}

	.slide-content {
		background: #FFFFFF;
		box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
		height: 100%;
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;

		&:first-child {
			display: block;
		}

		.wrapper {
			background: #CCCCCC;
			height: 100%; width: 100%;
			padding: 20px;
		}

		.nav-open {
			display: block;
			margin-bottom: 10px;
		}
	}
}