@import 'mixins';
@import 'animations';

.box-container {
  background-color: black;
  height: 50%;
  cursor: url(https://pbs.twimg.com/profile_images/631316844725403648/9h9Ae8nc.jpg), auto;
}
.box{
  width: 100px;
  height: 100px;
  background-color: white;
  display: block;
  position: absolute;
  left: 50%;
}