doctype html
html
  include includes/head.jade
  body.about-page.full-height
    .container-fluid.full-height
      .row.full-height
        include includes/modules/splash-module.jade
        include includes/modules/about-me.jade
        include includes/modules/box-game.jade
  //- section.footer
  include includes/scripts.jade
