doctype html
html
  include includes/head.jade
  body.portfolio-page.tab-module.full-height
    .container-fluid.full-height
      .row.full-height
        include includes/modules/splash-module.jade
        include includes/modules/project-nav.jade
        include includes/modules/project-cards.jade
        include includes/modules/project-details.jade
  section.footer
  include includes/scripts.jade
