doctype html
html
  include includes/head.jade
  body.publicity.full-height
    .container-fluid.full-height
      .row.full-height
        include includes/modules/global-nav.jade
        //- .col-xs-12.col-sm-6
        include includes/modules/speaking.jade
        //- .col-xs-12.col-sm-6
        //- include includes/modules/speaking.jade
  //- section.footer
  include includes/scripts.jade
