li.desc-item.outofview(data-desc-index="10")
  div
    button.close &#10005;
    h3 A Personal Website for an Aspiring Actress
    p.sub Veronica Bruce's modernized personal site to showcase her repertoire as a performance artist, voice actress, and stand-up comic. 
    .content
      h4 The Ask
      ul 
        li easily accessible content
